* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #252525;
  color: #FFF;
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #C09578;
}

.light-bg-color {
  background-color: #FCF5EB;
}

.dark-bg-color {
  background-color: #101010;
}

.primary-color {
  color: #C09578;
}

.secondary-color {
  color: #626262;
}

.light-color {
  color: #FCF5EB;
}

#navbar .navbar-nav {
  flex-direction: row;
  justify-content: end;
}
#navbar .navbar-nav li {
  margin-left: 1em;
}
#navbar a, #navbar button {
  color: #FFF;
}
#navbar li {
  position: relative;
}
#navbar i {
  font-size: 20px;
}
#navbar span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EF3636;
  text-align: center;
}
#navbar #bag-item span {
  left: 20px;
}
#navbar .navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  #navbar .navbar-brand {
    text-align: left;
  }
}
#navbar #navbar-items {
  justify-content: space-between;
}
@media (min-width: 768px) {
  #navbar #navbar-items {
    min-width: 80%;
    display: flex;
  }
}
@media (min-width: 768px) {
  #navbar #search-form {
    width: 50%;
    margin: 0;
  }
}

#search-form, #news-form {
  width: 100%;
  margin: 2em 0;
  border: 2px solid #626262;
  border-radius: 3px;
  padding: 5px 15px;
}
#search-form input, #news-form input {
  background-color: transparent;
  border: none;
  color: #FFF;
}
#search-form input:focus, #news-form input:focus {
  box-shadow: none;
}
#search-form input::placeholder, #news-form input::placeholder {
  color: #FFF;
}

#bottom-navbar-container .container {
  justify-content: end;
}
#bottom-navbar-container .container a {
  font-weight: 600;
  color: #FFF;
}
#bottom-navbar-container .container .navbar-toggler {
  font-size: 1.5em;
}

#banners-container {
  padding: 0;
}

.carousel-caption {
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
}
.carousel-caption h5 {
  font-size: 1.8em;
}

@media (min-width: 768px) {
  #slider .carousel-item, #slider img {
    height: 600px;
  }

  .carousel-caption {
    left: 23%;
    right: 23%;
  }
  .carousel-caption h5 {
    font-size: 4em;
  }
}
#mini-banners {
  margin-top: -3em;
  z-index: 10;
}
#mini-banners .col-12 {
  z-index: 1;
  height: 300px;
  padding: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#mini-banners .col-12 h2 {
  text-transform: uppercase;
  max-width: 50px;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1em;
}
#mini-banners .col-12 img {
  height: 220px;
  position: absolute;
  right: 1em;
  bottom: 1em;
}
#mini-banners .col-12 a {
  font-weight: bold;
  color: #FFF;
  font-size: 0.8em;
  transition: 0.5s;
}

@media (min-width: 768px) {
  #mini-banners .col-12 {
    max-width: 30%;
  }
}
#best-sellers {
  padding: 4em 0;
}
#best-sellers .row {
  margin: 0;
}
#best-sellers .col-md-3 {
  padding: 0;
}

.card {
  text-align: center;
  border-radius: 0;
}
.card img {
  width: 140px;
  margin: 2em auto;
}
.card .card-category {
  font-size: 0.8em;
}
.card .card-text {
  margin: 2em 0;
  font-weight: bold;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
  text-align: center;
}

.btn {
  background-color: transparent;
  border-color: #c09578;
}
.btn:hover {
  background-color: #c09578;
  border-color: #c09578;
}

@media (min-width: 768px) {
  .title {
    text-align: left;
  }
}
#bottom-banner {
  background-color: #101010;
  padding: 6em;
  margin-bottom: 4em;
  text-align: center;
}
#bottom-banner .offer-subtitle, #bottom-banner h2 {
  text-transform: uppercase;
  font-weight: bold;
}
#bottom-banner .btn {
  margin: 2em;
  font-weight: bold;
  padding: 1em;
}
#bottom-banner img {
  max-width: 175px;
}

@media (min-width: 768px) {
  #bottom-banner h2 {
    font-size: 6em;
  }
}
#new-products {
  margin-bottom: 5em;
}
#new-products #new-products-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101010;
}
#new-products #new-products-banner h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 2.5em;
}
#new-products .col-md-4 {
  padding: 0;
}
#new-products .card img {
  height: 150px;
  width: 90px;
  margin: 2em auto;
}

#gallery .image-container {
  background-size: cover;
  background-position: center;
  height: 225px;
  cursor: pointer;
  transition: 0.5s;
  border: 3px solid #101010;
}
#gallery .image-container:hover {
  border-color: #c09578;
}
#gallery #insta1 {
  background-image: url("../img/insta1.jpg");
}
#gallery #insta2 {
  background-image: url("../img/insta2.jpg");
}
#gallery #insta3 {
  background-image: url("../img/insta3.jpg");
}
#gallery #insta4 {
  background-image: url("../img/insta4.jpg");
}
#gallery #insta5 {
  background-image: url("../img/insta5.jpg");
}
#gallery #insta6 {
  background-image: url("../img/insta6.jpg");
}

#footer-links-container {
  border-bottom: 1px solid #626262;
}
#footer-links-container h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
}
#footer-links-container li {
  font-size: 0.8em;
}
#footer-links-container a {
  text-decoration: none;
}
#footer-links-container a:hover {
  color: #c09578;
}
#footer-links-container #footer-center {
  box-shadow: inset 0px 0px 3px rgba(192, 149, 120, 0.7);
}
#footer-links-container #footer-center h3 {
  font-weight: 900;
}
#footer-links-container #footer-center .store-phone {
  color: #c09578;
  font-weight: bold;
  font-size: 2em;
  margin-top: -15px;
}

#footer .footer-column {
  padding: 2em;
  flex-direction: column;
  text-align: center;
}

#newsletter-container {
  background-color: #101010;
  border-bottom: 1px solid #626262;
  text-align: center;
  padding: 20px;
}
#newsletter-container #news-form {
  max-width: 600px;
  margin: 15px auto;
}
#newsletter-container #news-form i {
  font-size: 1.5em;
}
#newsletter-container #news-form .btn {
  color: white;
}
#newsletter-container #social-container {
  margin: 20px auto;
}
#newsletter-container #social-container i {
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
  color: #626262;
  transition: 0.3s;
}
#newsletter-container #social-container i:hover {
  color: #C09578;
}

#copy-container {
  text-align: center;
  padding: 30px;
}

/*# sourceMappingURL=style.css.map */
